@font-face {
	font-family: 'oppium';
	src: url('../fonts/icons-font/oppium.eot?vqta6h');
	src: url('../fonts/icons-font/oppium.eot?vqta6h#iefix') format('embedded-opentype'),
		url('../fonts/icons-font/oppium.ttf?vqta6h') format('truetype'),
		url('../fonts/icons-font/oppium.woff?vqta6h') format('woff'),
		url('../fonts/icons-font/oppium.svg?vqta6h#oppium') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="i-"]::before,
[class*=" i-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'oppium' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-website:before {
	content: "\e900";
}

.i-voice:before {
	content: "\e901";
}

.i-visible:before {
	content: "\e902";
}

.i-view-list:before {
	content: "\e903";
}

.i-view-grid:before {
	content: "\e904";
}

.i-video:before {
	content: "\e905";
}

.i-translation:before {
	content: "\e906";
}

.i-star:before {
	content: "\e907";
}

.i-smile:before {
	content: "\e908";
}

.i-settings:before {
	content: "\e909";
}

.i-send:before {
	content: "\e90a";
}

.i-send-2:before {
	content: "\e90b";
}

.i-select-angle:before {
	content: "\e90c";
}

.i-search:before {
	content: "\e90d";
}

.i-s-whatsapp:before {
	content: "\e90e";
}

.i-s-youtube:before {
	content: "\e90f";
}

.i-s-twitter:before {
	content: "\e910";
}

.i-s-linkedin:before {
	content: "\e911";
}

.i-s-instagram:before {
	content: "\e912";
}

.i-s-facebook:before {
	content: "\e913";
}

.i-profile:before {
	content: "\e914";
}

.i-notification:before {
	content: "\e915";
}

.i-not-visible:before {
	content: "\e916";
}

.i-member:before {
	content: "\e917";
}

.i-marketing:before {
	content: "\e918";
}

.i-marker:before {
	content: "\e919";
}

.i-logout:before {
	content: "\e91a";
}

.i-lock:before {
	content: "\e91b";
}

.i-link:before {
	content: "\e91c";
}

.i-hyperlink:before {
	content: "\e91d";
}

.i-heart:before {
	content: "\e91e";
}

.i-freelancer:before {
	content: "\e91f";
}

.i-file:before {
	content: "\e920";
}

.i-envelope:before {
	content: "\e921";
}

.i-development:before {
	content: "\e922";
}

.i-design:before {
	content: "\e923";
}

.i-dashboard:before {
	content: "\e924";
}

.i-close:before {
	content: "\e925";
}

.i-clock:before {
	content: "\e926";
}

.i-client:before {
	content: "\e927";
}

.i-checked:before {
	content: "\e928";
}

.i-check-icon:before {
	content: "\e929";
}

.i-case:before {
	content: "\e92a";
}

.i-calendar:before {
	content: "\e92b";
}

.i-arrow-right:before {
	content: "\e92c";
}

.i-arrow-right-s:before {
	content: "\e92d";
}

.i-arrow-left:before {
	content: "\e92e";
}

.i-angle-up-icon:before {
	content: "\e92f";
}

.i-angle-right:before {
	content: "\e930";
}

.i-angle-down-icon:before {
	content: "\e931";
}